
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <title>Index</title>
</head>
<body>
    <h1>Rezsi!</h1>
    
    <div id="root"></div>

    <script src="dist/bundle.js"></script>

</body>
</html>
